.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: .8125rem;
    color: #60666d;
}
@media (min-width: 768px) {
    .select-box {
        width: 100%;
    }
}

.select-box__current {
    position: relative;
    border: 1px solid #ced4da;
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    opacity: 1;
    transition: 0.2s ease;
}
.select-box__icon:nth-of-type(2) {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}
.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: .5rem 2.7rem .5rem .9rem;
    background-color: #fff;
}
.select-box__list {
    z-index: 9999;
    border: 1px solid #ced4da;
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 0 !important;
}
.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}
/*for category*/
.center {
}

/** Custom Select **/
.custom-select-wrapper {

}
.custom-select-wrapper select {
    display: none;
}
.custom-select {
    position: relative;
    display: block;
}
.custom-select-trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: .5rem 2.7rem .5rem .9rem;
    font-size: .8125rem;
    font-weight: 400;
    color: black;
    border: 1px solid #ced4da;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 8px; height: 8px;
    top: 50%; right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 6px 0;
    border: 1px solid #f1efef;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}
.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    position: absolute;
    z-index: 2;
}
.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #f1efef;
    border-left: 1px solid #f1efef;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}
.option-hover:before {
    background: #f9f9f9;
}
.custom-option {
    position: relative;
    display: block;
    padding: .5rem 2.7rem .5rem .9rem;
    border-bottom: 1px solid #f1efef;
    font-size: .8125rem;
    font-weight: 400;
    color: black;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
    background: #f9f9f9;
}
.no-record-section
{
    width: 25%;
}
@media only screen and (max-width: 600px) {
    .no-record-section
    {
        width: 100%;
    }
}
.image-preview
{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px dotted #d4d9de;
    border-radius: 5px;
}
.object-fit-cover
{
    object-fit: cover;
}
